:root {
	--alturacabecera: 100px;
	--alturaPie: 60px;
	--alturaMenu: 50px;
	--anchuraElemMenu: 200px;

	--paddingGeneral: 5px;

	--colorRojo: #e63946;
	--colorBlanco: #f1faee;
	--colorletras: rgb(239, 239, 253);
	--colorAzulClaro: #a8dadc;
	--colorAzulMedio: #457b9d;
	--colorAzulOscuro: #1d3557;

	--fuenteSerif: "Garamond";
	--fuenteSans: "Helvetica";
}

.contenedor_grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.productos {
	width: 75%;
	margin-right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px 10px;
}

.ticket {
	width: 25%;
	background-color: var(--colorRojo);
	border-radius: 5%;
	margin-top: 5px;
	box-shadow: 0 4px 8px rgba(40, 36, 36, 0.3);
}


.titulo2 {
	font-family: var(--fuenteSans);
	padding: 5px;
	margin-bottom: 4px;
	color: var(--colorBlanco);
	font-size: 30px;
	padding: var(--paddingGeneral);
	padding-left: 38%;

}



/*ARTICULOS*/
@media only screen and (max-width: 900px) {
	.productos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px 15px;
		grid-auto-flow: row;
	}
}

.titulo {
	font-family: var(--fuenteSans);
	padding: 5px;
	margin-bottom: 4px;
	color: var(--colorBlanco);
	font-size: 30px;
	padding: var(--paddingGeneral);
}

article {
	background-color: var(--colorBlanco);
	width: 90%;
	height: 90%;
	padding: 10px;
	margin: 5px;
	border-radius: 3%;
	box-shadow: 0 4px 8px rgba(40, 36, 36, 0.3);
}

article h2 {
	font-family: var(--fuenteSans);
	padding: 5px;
	margin-bottom: 4px;
	font-size: 18px;
	color: var(--colorAzulMedio)
}

article p {
	font-family: var(--fuenteSans);
	padding: 2px;
	font-size: 13px;
	color: var(--colorAzulOscuro);
}

article a {
	text-decoration: none;
}

article button {
	font-family: var(--fuenteSans);
	padding: 2px;
	font-size: 15px;
	color: var(--colorAzulOscuro);
}



article button:hover {
	background-color: var(--colorAzulOscuro);
	color: var(--colorBlanco);
}

article img {
	border-radius: 2%;
	box-shadow: 0 4px 8px rgba(40, 36, 36, 0.3);
	height: 60%;
	width: 70%;
	display: block;
	/* Hace que la imagen sea un elemento de bloque */
	margin-left: auto;
	/* Establece el margen izquierdo automáticamente */
	margin-right: auto;
	margin-bottom: 5%;
}

/*TICKET*/

.tabla_ticket {
	padding: var(--paddingGeneral);

}

.tabla_ticket td {
	padding: 10px;
	color: var(--colorBlanco);
}

.ticket h3 {
	color: var(--colorBlanco);
	margin-left: 5%;
	margin-top: 5%;
}

.botones {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--paddingGeneral);
}

.botones a {
	margin: 10px;
	background-color: var(--colorAzulClaro);
	padding: var(--paddingGeneral);
	color: var(--colorAzulOscuro);
	border-radius: 5%;
	border: 1px solid #ccc;
	text-decoration: none;
}

.botones a:hover {
	background-color: var(--colorAzulMedio);
	color: var(--colorBlanco);
}

.botonesAñadir {
	background-color: var(--colorAzulClaro);
	weight: 3px;
	height: 3px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--colorAzulOscuro);
	border-radius: 10%;
	border: 1px solid;
	font-size: 10px;
	text-align: center;
}